* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2f3542;
  font-family: 'calibri';
  color: #fff;
}

header {
  background: #3742fa;
  width: 100%;
  clear: both;
  content:'';
  display: table;
}

.menu {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 80px;
  float: left;
  padding: 8px;

}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 30px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  top:0;
  position: absolute;
  transition: width 0.2s;
}

nav ul li a:hover::before {
  width: 100%;
}
h1{
  text-align: center;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.tabla1{
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
}
.tabla2 caption{
  font-size: 30px;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.tabla3 caption{
  font-size: 30px;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}
td{
    padding-top: 5px;
    padding-right: 3px;
}
td input{
  font-size: 15px;
  text-align: center;
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 15px;
}
td input[type='submit']{
  width: 90px;
  font-size: 19px;
  border-radius: 0;
}
td input[type='submit']:hover{
  background: rgba(0, 0, 0, 0.3) ;
  color: #fff;
}
.tf{
  text-align: right;
}
button{
  width: 90px;
  height: 28px;
  border: none;
}
button:hover{
  background: rgba(0, 0, 0, 0.3) ;
}
td a:hover{
  color: #fff;

}
td a{
  color: black;
  font-size: 19px;
  width: 200px;
  height: 30px;
  text-decoration: none;
}
