* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2f3542;
  font-family: 'calibri';
  color: #fff;
}

header {
  background: #3742fa;
  width: 100%;
  clear: both;
  content:'';
  display: table;
}

.menu {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 80px;
  float: left;
  padding: 8px;

}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 30px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  top:0;
  position: absolute;
  transition: width 0.2s;
}

nav ul li a:hover::before {
  width: 100%;
}
h1{
  text-align: center;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
p{
  text-align: center;
  font-size: 25px;
  font-style: italic;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.button-box{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.button-box button{
  height: 60px;
  width: 300px;
  margin-left:70px;
  border-radius: 30px;  
  font-family: 'Roboto';
  border:none;
  background: #512FE9;
  box-shadow: 1px 1px 7px 4px black;
}
.button-box button a{
  padding-right: 1%;
  padding-left: 1%;
  font-family: 'calibri';
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.button-box button:hover{
  background: none;
}
h3{
  text-align: center;
  font-size: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #A49BE7;
}
