* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #2f3542;
  font-family: 'calibri';
  color: #fff;
}

header {
  background: #3742fa;
  width: 100%;
  clear: both;
  content:'';
  display: table;
}

.menu {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 80px;
  float: left;
  padding: 8px;

}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 30px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

nav ul li a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  top:0;
  position: absolute;
  transition: width 0.2s;
}

nav ul li a:hover::before {
  width: 100%;
}
.tab1{
  margin: 0 auto;
  border: 3px solid #fff;
}
.tab1 caption{
  font-size: 40px;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.tab1 th{
 font-size: 20px;
 padding-right: 5px;
 text-shadow: black 0.1em 0.1em 0.2em;
}
td{
    padding-top: 5px;
    padding-right: 3px;
    width: 130px;
    text-align: center;
}
.boton{
  text-align: center;
  margin-top: 2%;
}
button{
  width: 90px;
  height: 28px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 7px 4px black;
}
button:hover{
  background: rgba(0, 0, 0, 0.3) ;
}
button a:hover{
  color: #fff;

}
button a{
  font-weight: bold;
  color: black;
  font-size: 19px;
  width: 200px;
  height: 30px;
  text-decoration: none;
}
